/* col-sm- */
@media all and (max-width 991px)
	main
		section
			padding 45px 0
		
		.banner.small
				.container
					padding-top ( banner-margin-top-small - 15px )
					text-align center
					
					h2
						display block
						height auto
						text-align center
					
					a
						margin 0 auto

		.contacts
			.container
				border none
				
				h2
					text-align center
			
			.blog
				.date
					margin-bottom -36px
					
				article .title
					margin-top 15px
		
		.blog-post
			.about-author
				.photo
					height 160px
					
				.info:before
					top 72px
			
			.reviews .inner img
				width 48px
				height 48px

	footer .instagram .photos
		height 164px
		overflow hidden

/* col-xs- */
@media all and (max-width: 767px)
	header
		nav
			text-align center
		a
			padding 15px 30px
	
	main
		aside
			margin 45px 0 0
		section
			padding 30px 0
		.news
			.articles
				height 880px
			article
				float none
		.blog-post
			.about-author
				.photo
					height 120px
				.info:before
					top 51px
			.reviews
				.title
					width 100%
				.date
					padding 0

	footer .instagram .photos
		height 82px
		overflow hidden