footer
	margin 0
	padding 30px 0
	background color-bg
	
	.columns
		padding-bottom 30px
		border-bottom 1px solid #e7e6e3
		
		h2
			color #d0ccc7
			font-weight bold
			
		h4
			margin 30px 0
			text-transform uppercase
			text-shadow 0 0 0.01px
			font-size 14px
			
	hr
		display block
		width 100%
		height 0
		margin 15px 0
		border none
		border-bottom 1px solid #eee



	.description
		
		&,
		p,
		span
			font-size 14px
			color #888
			text-shadow 0 0 0.01px
	


	.follow
		
		i
			margin-right 15px
			color #888
			font-size 14px
			line-height 24px
			vertical-align middle

		.icon
			display inline-block
			width 16px
			height 16px
			margin-right 15px
			line-height 16px
			vertical-align middle
			text-align center
			background transparent url() 0 0 no-repeat
			background-size contain
			background-position center

			&:active,
			&:focus,
			&:hover
				text-decoration none

			i
				margin 0
				color color-main
				font-size 16px
				line-height 16px
				vertical-align top
				
				&:hover,
				&:focus,
				&:active
					color color-active



	.subscribe
		display block
		margin 15px 0
		
		input
			display block
			height 40px
			padding 0 5px
			font-size 14px
			text-shadow 0 0 0.01px
			outline none
			float left

		input[type="email"]
			width calc(100% - 140px)
			color #111
			border 1px solid #eee
			border-right 0
			transition-duration 400ms
			transition-property border-color

		input[type="email"]:focus
			border 1px solid color-main
			border-right 0

		input[type="submit"]
			width 140px
			line-height 40px
			border none
			border-radius 0
			color #fff

	

	.news
		
		article
			margin 30px 0

		article .title
			display block
			height 2.4em
			margin 15px 0 0
			text-transform uppercase
			font-size 13px
			line-height 1.2
			color #333
			overflow hidden

		article .photo
			display block
			width 120px
			margin-right 15px
			float left

		article img
			width auto
			height auto
			max-width 120px
			max-height 80px

		article time
			font-size 13px
			font-style italic
			color #ccc
	


	.instagram
		
		.photo
			width 80px
			height 80px
			margin 0 2px 2px 0
			background-size cover
			background-position center
			float left

		.view-more
			display block
			margin-top 15px
			font-size 13px
			font-style italic
			color #777



	.copyright
		margin-top 19px
		color #555
		font-size 14px
		text-align center

		a
			color color-active

			&:active,
			&:focus,
			&:hover
				color color-active