main .ready-works
	padding 0
	background transparent url(../img/header/bg-4.png) 0 0 repeat
	background-position center
	background-attachment fixed
	text-transform uppercase
	text-align center

	.column
		color #fff
		height 220px
		padding 45px 0 0
		border-right 1px solid rgba(255,255,255,0.2)
		text-decoration none

		&:first-child
			border-left 1px solid rgba(255,255,255,0.2)

	.number
		font-size 56px
		font-weight bold
		text-shadow 0 0 0.01px

	.title
		font-size 14px
		text-shadow 0 0 0.01px
