main .portfolio-element
	
	.container
		margin 0 auto 60px

	h3
		line-height 48px
		font-size 22px
		color #666
		text-shadow 0 0 0.01px
		vertical-align middle
		margin 0 0 30px

	.column
		
		.image,
		section
			display block
			margin 0 auto

		section
			margin 0 auto 20px
			padding 0 30px

	section
		
		strong
			font-size 16px
			/*color #337AB7*/
			color color-active
			text-shadow 0 0 0.01px
			text-transform uppercase
			font-weight normal

		h1
			display inline-block
			margin 0
			padding 0
			text-transform none
			font-size 16px
			font-weight normal
			color #333
			text-shadow 0 0 0.01px

		span,
		p
			font-size 16px
			color #333
			text-shadow 0 0 0.01px
			font-weight normal

		ul
			margin-bottom 20px