main
	min-height calc(100vh - 60px - 535px)

	section
		padding 90px 0

		h1,
		h2
			margin 30px 0
			text-transform uppercase
			color #333
			text-shadow 0 0 0.01px
			text-align center
			font-weight normal
			font-size 26px

	aside
		margin 15px 0 0

@require 'main-slider.styl'
@require 'main-services.styl'
@require 'main-services-page.styl'
@require 'main-news.styl'
@require 'main-aside.styl'
@require 'main-blog.styl'
@require 'main-blog-post.styl'
@require 'main-ready-works.styl'
@require 'main-portfolio.styl'
@require 'main-portfolio-element.styl'
@require 'main-portfolio-mainpage.styl'
@require 'main-contacts.styl'
@require 'main-contacts-page.styl'
@require 'main-about-page.styl'