main .services
	background-color color-bg

	.service
		width 100%
		margin 30px 0
		padding 45px 15px 15px
		border-radius 4px
		border-bottom 4px solid #E6E6E6
		background-color #f8f8f8
		transition-duration 400ms
		transition-property background-color
		cursor default

		&:hover
			background-color #fff

		 .icon
			display block
			width 64px
			height 64px
			margin 0 auto
			text-align center
			// background transparent url() 0 0 no-repeat
			// background-position center
			
			.fa
				font-size 64px
				color color-main

		h3
			height 2.4em
			margin 15px 0
			padding 0 15px
			font-size 16px
			line-height 1.2
			font-weight normal
			text-transform uppercase
			color #7e8a8a
			text-align center

		.description
			font-size 14px
			line-height 1.4
			color #7e8a8a
			text-align center

		.button
			margin 45px auto -45px

/*	.column
		
		&:nth-child(1) .service .icon
			background-image url("../img/services/4.png")

		&:nth-child(2) .service .icon
			background-image url("../img/services/2.png")

		&:nth-child(3) .service .icon
			background-image url("../img/services/3.png")

		&:nth-child(4) .service .icon
			background-image url("../img/services/4.png")*/